@import './variable';

.case-study-translucent-dark-overlay {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: calc(100% - 75px);
  z-index: 1;
}

@media only screen and (max-width: 1300px) {
  // .case-study-summary-text {
  //   width: 40% !important;
  // }
}
@media only screen and (max-width: 1150px) {
  #infographic {
    height: 450px;
  width: 790px;
  }
}

@media (max-width: 1200px) {
  .case-study-translucent-dark-overlay {
    bottom: calc(100% - 112px);
  }
}

@media (max-width: 991px) {
  .case-study-translucent-dark-overlay {
    bottom: calc(100% - 149px);
  }
}
@media (max-width: 980px) {
  .case-study-translucent-dark-overlay {
    display: none;
  }
  #infographic {
    height: 250px !important;
    width: 440px !important;
  }
}

.infographic-img:hover{
  transform: scale(1.1);
}

.spacer {
  width: 100%;
  margin: 50px auto;
  text-align: center;
}

.case-study-main-heading {
  width: 90%;
  margin: auto;
  font-weight: 600 !important;
  font-family: sans-serif !important;
}

.fade-in-section {
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 1.2s ease-out;
  will-change: opacity, visibility;
}
.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

.up-icon {
  cursor: pointer;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 1000;
  width: 50px;
  height: 50px;
  background: white;
  border-radius: 50%;
  opacity: 0.7;

  img {
    width: 100%;
  }
}

.share {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  border-radius: 10px 0 0 10px;
  height: 100px;
  height: fit-content;
  width: 60px;
  position: fixed;
  top: 20%;
  right: 0;
  z-index: 100;
}

.share img {
  cursor: pointer;
  margin: 5px;
  width: 40px;
  height: 40px;
}

.headingCaseStudy {
  color: #343434;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  padding-top: 25px;
  line-height: 1.2;
}

.textCaseStudy {
  color: #343434;
  font-size: 20px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 1.2;
}

#img1 {
  height: 450px;
  width: 790px;
  margin: auto;
}

.case-study-summary-container {
  // margin-top: 50px;
  display: flex;
  flex-direction: column;
  flex-flow: column-reverse;
  align-items: center;
  justify-content: space-evenly;
}

.case-study-summary-text {
  width: 80%;
}

#infographic {
  height: 450px;
  width: 790px;
}

#case-study-links-image {
  height: 300px;
  width: 500px;
}

.caesstudy-btn-container {
  margin: 20px 50px 0 0;
}

.casestudy-btn {
  background: #008536;
  color: white;
  padding: 5px 10px;
  outline: none;
  border: 1px solid grey;
  border-radius: 10px !important;
  transition: transform 0.2s ease;
}

.casestudy-btn:active {
  transform: scale(1.1);
}

.impact-video {
  // margin-top: 50px;
  text-align: center;
}

.playlist-video iframe {
  height: 300px;
  width: 600px;
}

.testimonials {
  padding: 50px 20px;
  max-width: 70vw;
  text-align: center;
  margin: auto;
  border-top: 5px solid #a97f2b;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.testimonial-text {
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

.testimonial-author {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    margin: 0;
  }

  .testimonial-author-name {
    font-weight: bold;
  }
}

.testimonial-author img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 30px;
}

.partner-with-us {
  color: white;
  width: 90%;
  padding: 50px;
  margin: 50px auto;
  background: #a97f2b;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  p {
    margin: 0;
    font-size: 18px;
    font-weight: 700;
  }
  .partner-with-us-main-text {
    font-size: 48px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif !important;
  }
}

.case-study-playlist-container {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px 0;
}

.cards-section {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}
.cards-section .card-wrapper-case-study {
  height: 300px;
  width: 400px;
  display: inline-block;
  border-radius: 7px;
  box-shadow: 0 6px 0 0 rgba(0, 0, 0, 0.01), 0 15px 32px 0 rgba(0, 0, 0, 0.06);
  vertical-align: top;
  cursor: pointer;
  overflow: hidden;
}
@media only screen and (max-width: 980px) {
  .cards-section .card-wrapper-case-study {
    max-width: 300px;
  }
  .first-spacer{
    margin-top: 30%;
  }
}
.cards-section .card-wrapper-case-study.hovered, .card-wrapper-case-study.hovered {
  -webkit-animation-name: smoothScaleIn;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 0.3s;
  /* Safari 4.0 - 8.0 */
  animation-name: smoothScaleIn;
  animation-duration: 0.3s;
  transform: scale(1.02);
}
.cards-section .card-wrapper-case-study .image-section {
  height: 60%;
  background: #eeeeee;
  background-size: cover;
}
.cards-section .card-wrapper-case-study .image-section.background-right {
  background-position: right;
}
.cards-section .card-wrapper-case-study .content-section {
  padding: 15px;
  text-align: left;
}
.cards-section .card-wrapper-case-study .content-section .headingCaseStudy {
  font-size: 14px;
  color: #343434;
  min-height: 41px;
}
.cards-section .card-wrapper-case-study .content-section .timestamp {
  color: #a5a5a5;
  font-size: 12px;
  margin-top: 8px;
}
@media only screen and (max-width: 1200px) {
  .cards-section .card-wrapper-case-study {
    width: 50%;
  }
}
@media only screen and (max-width: 980px) {
  .title {
    font-size: 40px;
    margin: 40px 0 10px 0;
  }
}
@media only screen and (max-width: 760px) {
  .cards-section .card-wrapper-case-study {
    width: 100%;
  }

  #infographic {
    height: 170px !important;
    width: 300px !important;
  }

  .first-spacer{
    margin-top: 20%;
  }

  .share {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    border-radius: 10px 0 0 10px;
    height: 50px;
    height: fit-content;
    width: 40px;
    position: fixed;
    top: 10%;
    right: 0;
    z-index: 100;
  }
  
  .share img {
    cursor: pointer;
    margin: 5px;
    width: 20px;
    height: 20px;
  }
}

@media only screen and (max-width: 600px) {
  .headingCaseStudy {
    font-size: 32px;
  }
  .textCaseStudy {
    font-size: 16px;
  }
  #img1 {
    height: 170px;
    width: 300px;
    max-width: 90vw;
  }
  .first-spacer{
    margin-top: 50px;
  }

  .case-study-summary-container {
    flex-direction: column;
  }

  .case-study-summary-text {
    width: 90% !important;
  }

  .case-study-links-container {
    flex-direction: column;
  }
  .cards-section {
    flex-direction: column;
  }
  .cards-section .card-wrapper-case-study {
    margin-top: 25px;
  }

  #infographic {
    margin-top: 20px;
  }
  #case-study-links-image {
    margin-top: 20px;
    height: 300px;
    width: 300px;
  }
  .caesstudy-btn-container {
    margin: 20px 0 0 0;
  }
  .playlist-video iframe {
    height: 180px;
    width: 300px;
  }
  .testimonials {
    max-width: 100vw;
    margin: auto;
  }
  .partner-with-us {
    flex-direction: column;
    justify-content: flex-start;
    padding: 25px 15px;
    p {
      text-align: center;
      font-size: 16px;
    }
    .partner-with-us-main-text {
      font-size: 18px;
    }
  }
  .case-study-playlist-container {
    flex-direction: column;
  }
}
