@import "variable";
.footer-wrapper {
  background: none;
  position: relative;
  padding: 24px 0 0 0;
  border-top: 1px solid rgba(253, 217, 191, 1);

  .logo {
    height: 64px;
  }

  .nav-wrapper {
    .nav-link {
      color: $theme-text-normal;
      font-size: 16px !important;
      padding-bottom: 6px !important;

      &.active {
        color: $primary;
      }
    }

    .address-line1 {
      text-align: left !important;
      font-size: 16px !important;
      padding-bottom: 6px !important;
    }
    .footer-heading{
      font-size: 20px;
      color: #D09C0A;
      padding-bottom: 6px;
      font-weight: 600;
    }
  }

  .bottom-copyright-section {
    text-align: center;
    color:  #1E2833;
    font-size: 16px;
    line-height: 21px;
    padding: 6vh;
    opacity: 50%;
    border-top: rgba(30, 40, 51, 0.1) solid 1px;
    // background: #F1F1F1;
  }

  .social-icons {
    cursor: pointer;
    // height: 30px;
    // width: 30px;
  }
}
