@import "variable";
.footer-wrapper {
  background: none;
  position: relative;
  border-top: 1px solid rgba(253, 217, 191, 1);

  .logo {
    height: 64px;
  }

  .nav-wrapper {
    .nav-link {
      color: $theme-text-normal;
      font-size: 16px !important;
      padding-bottom: 6px !important;

      &.active {
        color: $primary;
      }
    }

    .address-line1 {
      text-align: left !important;
      font-size: 14px !important;
      padding-bottom: 4px !important;
    }
    .footer-heading{
      font-size: 16px;
      color: #D09C0A;
      padding-bottom: 4px;
      font-weight: 600;
    }
    .footer-item{
      color:#1E2833; 
      padding-bottom:2px;
       font-size:15px;
    }
  }

  .bottom-copyright-section {
    text-align: center;
    color:  #1E2833;
    font-size: 14px;
    line-height: 1.5vw;
    padding: 3vh 0;
    opacity: 50%;
    border-top: rgba(30, 40, 51, 0.1) solid 1px;
    // background: #F1F1F1;
  }

  .social-icons {
    cursor: pointer;
    height: 24px;
    width: 24px;
  }
}
