@import "./variable";

.header-wrapper {
  background: none;
  position: relative;
 
  .logo {
    height: 67px;
  }

  .container {
    position: relative;
  }

  .nav-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 200;
    font-size: 16px;
    line-height: 100%;
    font-weight: 400;

    .nav-link {
      color: white;
    }

    .nav-link:hover{
      color: white;
        font-weight: 700;
    }
    .nav-link:active{
      color: white;
        font-weight: 700;
    }

    li {
      .sub-menu {
        display: none;
      }

      &.focused {
        .sub-menu {
          display: flex;
          position: absolute;
          background: white;
          top:54px;
          left: 0;
          overflow: hidden;
          z-index: 2;

          .head-items-wrapper {
            display: flex;
            flex-direction: column;
            padding: 16px;
            min-width: 180px;
            gap: 16px;

            .head-item {
              display: flex;
              align-items: center;
              justify-content: space-between;
              color: rgba(88, 88, 88, 1) !important;
              font-size: 14.82px;
              cursor: pointer;
              white-space: nowrap;
              &.head-focused {
                color: #D09C0A !important;
              }
            }
            .head-item:hover{
              color: #D09C0A !important;
            }
            .head-item:active{
              color: #D09C0A !important;
            }
          }

          .sub-head-items-wrapper {
            display: flex;
            flex-direction: column;
            padding: 16px;
            min-width: 180px;
            gap: 16px;

            .head-item {
              font-size: 14.82px;
              cursor: pointer;
              white-space: nowrap;
              color: rgba(88, 88, 88, 1) !important;
            }
            .head-item:hover{
              color: #D09C0A !important;
            }
          }
        }
      }
    }
  }

  &.inverted-fixed {
    position: fixed;
    top: 0;
    z-index: 100;
    left: 0;
    right: 0;
    background: white;
    height: 75px;
    box-shadow: 0 6px 0 0 rgba(0, 0, 0, .01), 0 15px 32px 0 rgba(0, 0, 0, .06);
    -webkit-animation-name: headerSlideIn; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 0.5s; /* Safari 4.0 - 8.0 */
    animation-name: headerSlideIn;
    animation-duration: 0.5s;

    .nav-wrapper {

      .nav-link {
        color: #262626;
      }
      .nav-link:hover{
        color: #262626;
          font-weight: 700;
      }
      .nav-link:active{
        color: #262626;
          font-weight: 700;
      }

    }
  }
}

// .dropdown-content {
//   display: flex;
//   position: absolute;
//   top: 75.72px;
//   background-color: #ffffff;
//   min-width: 180px;
//   z-index: 2;
//   padding: 16px;
//   flex-direction: column;
//   gap: 16px;
// }

// .nav-dropdown-items{
//   color: rgba(88, 88, 88, 1) !important;
//   font-size: 14.82px;
// }
// .nav-dropdown-items:hover{
//   color: #D09C0A;
// }

/* Show the dropdown menu on hover */
// .nav-dropdown-menu:hover .dropdown-content{
//     display: flex;
// } 

/* Safari 4.0 - 8.0 */
@-webkit-keyframes headerSlideIn {
  from {
    top: -100px;
    opacity: 0;
  }
  to {
    opacity: 1;
    top: 0;
  }
}

/* Standard syntax */
@keyframes headerSlideIn {
  from {
    top: -100px;
    opacity: 0;
  }
  to {
    opacity: 1;
    top: 0;
  }
}
