.text-center {
  text-align: center;
}
.text-start {
  text-align: start;
}
.brown-text {
  color: #775b0f;
}
.black-text-1 {
  color: #262626;
}
.black-text-2 {
  color: #121213;
}
.mustard-text {
  color: #d09c0a;
}
.blue-text {
  color: #294294;
}
.section-heading {
  font-size: 36px;
  font-weight: 700;
  line-height: 100%;
}
.section-description {
  font-size: 18px;
  line-height: 160%;
  font-weight: 400;
  letter-spacing: 2%;
}
.card-sub-heading {
  font-size: 20px;
  line-height: 160%;
  font-weight: 400;
  letter-spacing: 2%;
}
.section-sub-heading {
  font-size: 24px;
  font-weight: 600;
  line-height: 160%;
  letter-spacing: 2%;
}
.linkedin-button-text {
  font-size: 24px;
  font-weight: 600;
  line-height: 160%;
  letter-spacing: 2%;
}
.carousal-text {
  font-size: 22px;
  font-weight: 600;
  line-height: 160%;
  letter-spacing: 2%;
}
.carousal-button {
  font-size: 17px;
  font-weight: 500;
  line-height: 160%;
  letter-spacing: 2%;
}
.card-heading {
  font-size: 32px;
  font-weight: 600;
  line-height: 100%;
}
.card-description {
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
}
.card-button-text {
  font-size: 17px;
  font-weight: 500;
  line-height: 160%;
}
.card-hover-description {
  font-size: 21px;
  line-height: 160%;
  font-weight: 400;
  letter-spacing: 2%;
}

.our-mission {
  margin: 10vh 6vw;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  padding: 0 22vw;
}

.sticky-icon-container {
  position: fixed;
  bottom: 28px; /* Adjust this value to change the distance from the bottom */
  right: 6vw; /* Adjust this value to change the distance from the right */
  z-index: 1000; /* Ensure it's above other content */
  cursor: pointer;
}
.sticky-icon {
  width: 50px; /* Adjust icon width */
  height: 50px; /* Adjust icon height */
  display: flex;
  justify-content: center;
  align-items: center;
}
.sticky-icon img {
  width: 80%; /* Adjust icon size */
  height: auto;
}

.our-model-section {
  padding: 8vh 5vw;
  background-color: #f2e5ca;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 52px;
  justify-content: center;
}
.model-sub-section {
  display: flex;
  gap: 32px;
  flex: 1;
  text-align: start;
}
.model-video {
  padding: 0 16vw;
  .model-border {
    border: solid rgba(208, 156, 10, 1) 4px;
    border-radius: 19.26px;
  }
  .our-model-video {
    border-radius: 19.23px;
    padding: 13px;
    width: 100%;
    aspect-ratio: 9/5;
  }
}
.model-sub-section-division {
  display: flex;
  flex-direction: row;
  gap: 5vw;
  padding: 0 4vw;
}

.our-approach {
  padding: 20px 240px;
}
.approach-video {
  width: 600px;
  height: 600px;
}

.work-card-layout {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  margin-top: 8vh;
}
.card-button {
  border: solid 1px #d09c0a;
  border-radius: 4px;
  padding: 8px;
  background: none;
  width: 66%;
  color: #d09c0a;
  height: 45.2px;
}
.card-button:hover {
  border: none;
  background-color: #d09c0a;
  color: #ffffff;
}
.card-button:active {
  border: none;
  background-color: #d09c0a;
  color: #ffffff;
}
.linkedin-icon {
  width: 32px;
  height: 32px;
}
.linkedin-button {
  background: #0076b2;
  border-radius: 10px;
  padding: 8px 16px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.section-divider {
  height: 4px;
  width: 18vw;
  background-color: #d09c0a;
  margin: 24px auto;
  border-radius: 4px;
}

.template-column {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.home-page-indicator-active {
  background: #d09c0a !important;
}
.home-page-indicator {
  width: 10px;
  height: 10px;
  background: #eeeeee;
  border-radius: 50%;
  display: inline-block;
  margin: 0 4px;
  cursor: pointer;
}
.home-page-bullets {
  display: flex;
  flex-wrap: wrap;
  width: 100% !important;
  justify-content: center;
  // padding: 0 100px 40px 10px;
}
.swiper-news-pagination {
  bottom: 0px !important;
  padding: 20px;
}
.news-section {
  margin: 9vh 16vw;
}
.carousal-box {
  width: 100%;
  padding: 2.5vw 3vw;
  display: flex;
  flex-direction: column;
  gap: 25px;
  background: #d09c0a;
  border-radius: 29px;
}
.news-heading {
  color: #ffffff;
  overflow: hidden;
  flex: 4;
  max-height: 80px;
  overflow: hidden;
}
.news-button {
  flex: 1;
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  border-radius: 4px;
  padding: 4px;
}
.news-image {
  width: 100%;
  aspect-ratio: 1.85;
  border-radius: 16px;
}
.carousal-text-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  height: 80px;
}
.sushasan-desc{
  text-align: start;
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
  .home-top-gif {
    height: auto;
  }
  .template-column {
    grid-template-columns: 1fr 1fr;
  }
  .work-card-layout {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 769px) {
  .home-top-gif {
    height: auto;
  }
  .sushasan-desc{
    text-align: center;
  }
  .news-heading {
    flex: 3.2;
  }
  .our-mission {
    padding: 0 20px;
  }
  .model-sub-section-division {
    flex-direction: column;
  }
  .section-heading {
    font-size: 32px;
    font-weight: 600;
  }
  .section-description {
    font-size: 15px;
  }
  .card-sub-heading {
    font-size: 15px;
  }
  .card-hover-description {
    font-size: 13px;
  }
  .section-sub-heading {
    font-size: 24px;
    font-weight: 600;
  }
  .model-icon {
    width: 52px;
    height: 52px;
  }
  .model-video {
    padding: 0;
    .model-border {
      border: solid rgba(208, 156, 10, 1) 2px;
      border-radius: 8px;
    }
    .our-model-video {
      border-radius: 8px;
    }
  }
  .our-approach {
    padding: 20px;
  }
  .approach-video {
    width: 300px;
    height: 300px;
  }
  .circle1 {
    width: 108px;
  }
  .circle2 {
    width: 180px;
  }
  .circle3 {
    width: 96px;
  }
  .linkedin-icon {
    width: 24px;
    height: 24px;
  }
  .template-column {
    grid-template-columns: 1fr;
  }
  .linkedin-button-text {
    font-size: 16px;
    font-weight: 500;
  }
  .linkedin-button {
    border-radius: 4px;
  }
  .section-divider {
    height: 2px;
    border-radius: 2px;
  }
  .journey-icon {
    width: 72px;
  }
  .work-card-layout {
    grid-template-columns: 1fr;
  }
  .card-heading {
    font-size: 28px;
    font-weight: 600;
  }
  .card-description {
    font-size: 14px;
  }
  .card-button-text {
    font-size: 13px;
    font-weight: 400;
  }
  .card-button {
    height: 38.8px;
  }
  .news-section {
    margin: 32px 12px;
  }
  .carousal-box {
    border-radius: 8px;
    gap: 12px;
  }
  .carousal-text {
    font-size: 14px;
    font-weight: 500;
    line-height: 140%;
  }
  .carousal-button {
    font-size: 9px;
    font-weight: 400;
  }
  .link-img {
    width: 15px;
    height: 15px;
  }
  .news-image {
    border-radius: 8px;
  }
}

/* Apply the animation to the text */
.animated-text {
  -webkit-animation: slide-in 1s ease-in-out;
  animation: slide-in 1s ease-in-out;
}

.textFade {
  -webkit-animation-name: textFade; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 1.2s; /* Safari 4.0 - 8.0 */
  animation-name: textFade;
  animation-duration: 1.2s;
}

@-webkit-keyframes slide-in {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes textFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Standard syntax */
@keyframes textFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
