@import "./Header";
@import "./OurPublicationsSection";
@import "./ProductPageSecondSection";
@import "./ProductBannerImage";
@import "./ProductPageKeyInitiaves";
@import "./team";
@import "./PartnersSectionSecond";
@import "./Footer";
@import "./HomeNewsSection";
@import "./HomeSecondSection";
@import "./HomeThirdSection";
@import "./HomeTopSlider";
@import "./HomeTopSliderBannerOne";
@import "./BlogDetails";
@import "./PrimaryButton";
@import "./CareerSectionFifth";
@import "./CareerSectionSecond";
@import "./CareerSectionThird";
@import "./PaginationSlider";
@import "./JoinUsBannerImage";
@import "./JoinUsFormSection";
@import "./CustomPagerButton";
@import "./TestimonialSlider";
@import "./HeaderSmall";
@import "./HomePageUpdated";
@import "./OurAssets.scss";
@import "./DeclutteredPage.scss";
@import "./Sushasan.scss";
@import "./OurTeam.scss";

@import "../../node_modules/bootstrap/scss/bootstrap";

body {
  overflow-x: hidden;

}
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f4f4f4;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #a8a8a8; 
  border-radius: 10px;
  border: 2px solid #cfcfcf; 
}

::-webkit-scrollbar-thumb:hover {
  background-color: #909090; 
}

::-webkit-scrollbar-thumb:active {
  background-color: #7d7d7d; 
}


.media-page-banner {
  position: relative;
  text-align: center;

  .translucent-dark-overlay {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }

  .content-section {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;

    .title {
      color: white;
      font-size: 70px;
      font-weight: 700;
      text-align: center;
      margin-top: 200px;
      line-height: 150px;
    }
  }

  @media only screen and (max-width: 980px) {
    max-height: 270px !important;
  }
}

.base-banner-image {
  height: 100vh;
  width: 100vw;
  position: relative;
  text-align: center;

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .banner-image {
    height: 100%;
    width: 100%;
    object-fit: cover;

  }

  .slider-content {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.34);
    justify-content: center;
    align-items: center;

    .title {
      color: white;
      font-size: 108px;
      line-height: 100%;
      font-weight: 600;
      -webkit-animation-name: textFade;
      /* Safari 4.0 - 8.0 */
      -webkit-animation-duration: 1.2s;
      /* Safari 4.0 - 8.0 */
      animation-name: textFade;
      animation-duration: 1.2s;
    }

    
    @media screen and (min-width: 769px) and (max-width: 1200px) {


      .title {
        font-size: 72px;
        line-height: 72px;
        margin: 0;
      }

      .banner-image {
        aspect-ratio: 1.85;
      }
    }

    @media screen and (max-width: 769px) {


      .title {
        font-size: 38px;
        line-height: 38px;
        margin: 0;
      }

      
    }
  }

  @media screen and (max-width: 769px) {
    height: 34vh;
    .banner-image {
        aspect-ratio: 1.85;
      }
  }
}

.career-page-banner,
.media-page-banner {
  background-size: cover;
  background-position: center;
}

@font-face {
  font-family: "Proxima Nova Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Proxima Nova Regular"),
    url("../fonts/ProximaNova-Regular.woff") format("woff");
}

@font-face {
  font-family: "Proxima Nova Thin";
  font-style: normal;
  font-weight: normal;
  src: local("Proxima Nova Thin"),
    url("../fonts/ProximaNovaT-Thin.woff") format("woff");
}

@font-face {
  font-family: "Proxima Nova Light";
  font-style: normal;
  font-weight: normal;
  src: local("Proxima Nova Light"),
    url("../fonts/ProximaNova-Light.woff") format("woff");
}

@font-face {
  font-family: "Proxima Nova Semibold";
  font-style: normal;
  font-weight: normal;
  src: local("Proxima Nova Semibold"),
    url("../fonts/ProximaNova-Semibold.woff") format("woff");
}

@font-face {
  font-family: "Proxima Nova Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Proxima Nova Bold"),
    url("../fonts/ProximaNova-Bold.woff") format("woff");
}

@font-face {
  font-family: "Proxima Nova Extrabold";
  font-style: normal;
  font-weight: normal;
  src: local("Proxima Nova Extrabold"),
    url("../fonts/ProximaNova-Extrabld.woff") format("woff");
}

@font-face {
  font-family: "Proxima Nova Black";
  font-style: normal;
  font-weight: normal;
  src: local("Proxima Nova Black"),
    url("../fonts/ProximaNova-Black.woff") format("woff");
}

@font-face {
  font-family: "impact";
  font-style: normal;
  font-weight: normal;
  src: local("impact"), url("../fonts/impact.ttf") format("ttf");
}

body {
  margin: 0;
  font-family: "noto sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", "rubik",
    "noto sans", monospace;
}

@font-face {
  font-family: "Proxima Nova Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Proxima Nova Regular"),
    url("../fonts/ProximaNova-Regular.woff") format("woff");
}

@font-face {
  font-family: "rubik";
  src: url("../fonts/Rubik-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "noto sans";
  src: url("../fonts/NotoSans-VariableFont_wdth,wght.ttf") format("truetype");
}

* {
  font-family: "noto sans";
}

.f-6 {
  font-size: 6px !important;
}

.f-8 {
  font-size: 8px !important;
}

.f-9 {
  font-size: 9px !important;
}

.f-10 {
  font-size: 10px !important;
}

.f-11 {
  font-size: 11px !important;
}

.f-12 {
  font-size: 12px !important;
}

.f-13 {
  font-size: 13px !important;
}

.f-14 {
  font-size: 14px !important;
}

.f-15 {
  font-size: 15px !important;
}

.f-16 {
  font-size: 16px !important;
}

.f-17 {
  font-size: 17px !important;
}

.f-18 {
  font-size: 18px !important;
}

.f-19 {
  font-size: 19px !important;
}

.f-20 {
  font-size: 20px !important;
}

.f-21 {
  font-size: 21px !important;
}

.f-22 {
  font-size: 22px !important;
}

.f-23 {
  font-size: 23px !important;
}

.f-24 {
  font-size: 24px !important;
}

.f-25 {
  font-size: 25px !important;
}

.f-26 {
  font-size: 26px !important;
}

.f-28 {
  font-size: 28px !important;
}

.f-30 {
  font-size: 30px !important;
}

.f-32 {
  font-size: 32px !important;
}

.f-34 {
  font-size: 34px !important;
}

.f-36 {
  font-size: 36px !important;
}

.f-40 {
  font-size: 40px !important;
}

.f-50 {
  font-size: 50px !important;
}

.f-72 {
  font-size: 72px !important;
}

.f-80 {
  font-size: 80px !important;
}

.fw-400 {
  font-weight: 400 !important;
}

.fw-500 {
  font-weight: 500 !important;
}

.fw-600 {
  font-weight: 600 !important;
}

.fw-700 {
  font-weight: 700 !important;
}

.fw-800 {
  font-weight: 800 !important;
}

.fw-900 {
  font-weight: 900 !important;
}

.color-text-primary {
  color: $theme-text-normal !important;
}

.w-5 {
  width: 5% !important;
}

.w-7 {
  width: 7% !important;
}

.w-10 {
  width: 10% !important;
}

.w-15 {
  width: 15% !important;
}

.w-19 {
  width: 19% !important;
}

.w-20 {
  width: 20% !important;
}

.w-24 {
  width: 24% !important;
}

.w-28 {
  width: 28% !important;
}

.w-30 {
  width: 30% !important;
}

.w-33 {
  width: 33% !important;
}

.w-40 {
  width: 40% !important;
}

.w-45 {
  width: 45% !important;
}

.w-49 {
  width: 49.51% !important;
}

.w-51 {
  width: 51% !important;
}

.w-60 {
  width: 60% !important;
}

.w-70 {
  width: 70% !important;
}

.w-80 {
  width: 80% !important;
}

.w-85 {
  width: 85% !important;
}

.w-90 {
  width: 90% !important;
}

.w-94 {
  width: 94% !important;
}

.w-95 {
  width: 95% !important;
}

.w-93 {
  width: 93% !important;
}

.w-35 {
  width: 35% !important;
}

.w-65 {
  width: 65% !important;
}

.content-center {
  display: flex !important;
  flex-wrap: wrap !important;
  align-items: center !important;
}

.all-center {
  display: flex !important;
  flex-wrap: wrap !important;
  align-items: center !important;
  justify-content: center !important;
}

.grey-text {
  color: #777777 !important;
}

#custom-scroll::-webkit-scrollbar {
  width: 8px;
}

/* Track */
#custom-scroll::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #eaeaea;
}

/* Handle */
#custom-scroll::-webkit-scrollbar-thumb {
  background: #ec672c;
  border-radius: 10px;
}

a {
  &:hover {
    text-decoration: none !important;
  }
}

.media-section {
  padding: 100px 0 200px 0;

  .blog-wrapper {
    position: relative;
    margin-bottom: 140px;

    .image-wrapper {
      height: 300px;
      background: #efefef;
      border-radius: 10px;
    }

    .content-wrapper {
      position: absolute;
      left: 10px;
      bottom: -100px;
      right: 40px;
      background: white;
      padding: 14px;
      border-radius: 10px;
      box-shadow: 0 6px 0 0 rgba(0, 0, 0, 0.01),
        0 15px 32px 0 rgba(0, 0, 0, 0.1);

      .heading {
        font-size: 18px;
        color: #343434;
      }

      .posted-on {
        font-size: 14px;
        line-height: 100%;
        margin-top: 7px;
        color: #a1a1a1;
      }

      .description {
        color: #343434;
        font-size: 14px;
        margin-top: 16px;
      }

      .read-more {
        font-size: 14px;
        margin-top: 10px;
        cursor: pointer;
        color: $primary;
      }
    }
  }
}

.sticky-banner {
  position: relative;
  z-index: 99;
  // padding: 15px 0;
  // top: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 767px) {

  /* Mobile-specific styles */
  .sticky-banner {
    top: 0;
  }
}

.sticky-banner-title {
  text-align: center;
  margin-left: auto;
}

.sticky-banner a {
  text-decoration: none;
}

.sticky-banner-btn {
  margin: 5px;
  border-radius: 15px;
  padding: 5px 10px;
  cursor: pointer;
}

.sticky-banner-close-btn {
  text-align: right;
  margin-left: auto;
  margin-right: 5px;
}

@media only screen and (max-width: 980px) {
  .hide-for-small-only {
    display: none !important;
  }

  .follow-linkedin {
    max-width: 125px !important;
  }
}

@media only screen and (min-width: 980px) {
  .show-for-small-only {
    display: none !important;
  }
}

body,
p {
  font-family: "noto sans";
}

.soft-hide-form-small-only {
  @media only screen and (max-width: 980px) {
    opacity: 0;
  }
}

.fas,
.fa {
  font: normal normal normal 44px/1 FontAwesome !important;
}

.__actionable-image-wrapper {
  .action-wrapper {
    position: absolute;
    top: 42%;
    left: 0;
    z-index: 2000;
    right: 0;
    height: 17%;

    display: flex;
    justify-content: space-between;
    padding: 0 14%;

    .action {
      width: 16%;
      height: 100%;
    }
  }
}

.image-animated {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
  z-index: 100;

  &.active {
    opacity: 1;
  }
}

.sushasan-social-icons {
  height: 50px;
  width: 50px;
}

.sushasan-channel-trailer-container {
  min-height: 250px;
  margin-top: 15px;
  display: flex;
  flex-direction: row;
}

.sushasan-channel-trailer {
  flex: 1;
  margin-right: 20px;
  border-radius: 7px;
}

.sushasan-channel-trailer-text {
  flex: 1;
}

.join-us-btn {
  margin-top: 6rem
}

.partners-section {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;

}

.partners-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; /* Add spacing between logos */
}

.partner-item {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 200px;
  height: 120px; /* Set a consistent height for the container */
  overflow: hidden;
}

.partner-logo {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.filter-container {
  display: flex;
  gap: 3%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  width: 100%;
  flex-wrap: wrap;
}

.dropdown {
  position: relative;
  width: 22%;
}

.dropdown select {
  padding: 8px;
  width: 100%;
  font-size: 14px;
  color: #3f51b5;
  background: none;
  border: none;
  border-bottom: 1px solid #3f51b5;
  cursor: pointer;
}

.dropdown select:focus {
  outline: none;
}
.no-results{
   text-align: center;
    padding: 40px;
    width: 100%;
    color: #666;
    font-size: 1.2em;
    border-radius: 8px;
    margin-top: 30px;
}
.selected-option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  font-size: 14px;
  color: #3f51b5;
  background: #e3e7f1;
  border-radius: 5px;
  cursor: default;
  border: 1px solid #3f51b5;
}

.selected-option button {
  background: none;
  border: none;
  color: #3f51b5;
  font-weight: bold;
  font-size: 16px;

  cursor: pointer;
}
@media (max-width: 768px) {
  .filter-container {
    flex-direction: column;
    gap: 10px;
    width: 80%;
    margin: 0 auto 76px auto;
    align-items: flex-start;
  }

  .dropdown {
    width: 100%;
  }

  .selected-option {
    font-size: 18px;
  }


  .dropdown select {
    font-size: 18px;
    padding: 6px;
  }

  .no-results {
    font-size: 1em;
    padding: 20px;
  }
}


// For mobile view
@media only screen and (max-width: 768px) {
  .sushasan-social-icons {
    height: 40px;
    width: 40px;
  }

  .sushasan-channel-trailer-container {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
  }

  .sushasan-channel-trailer {
    flex: 1;
    margin-right: 0px;
    margin-bottom: 20px;
  }

  .sushasan-channel-trailer-text {
    flex: 1;
    text-align: justify;
  }
}

@-webkit-keyframes textFade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Standard syntax */
@keyframes textFade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
