@import "./variable";

.blog-banner {
  position: relative;

  .translucent-dark-overlay {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    height: 75px !important;
  }

  .content-section {
    .title {
      color: #343434;
      font-size: 36px;
      font-weight: 700;
      text-align: left;
      padding-top: 150px;
      line-height: 120%;
    }
    @media screen and (max-width: 769px) {
      .title {
        font-size: 24px;
      }
    }
  }
}
