.team-section-container {
  margin-bottom: 50px;
}

.section-title {
  font-size: 24px;
  margin-bottom: 30px;
  font-weight: 700;
}

.container_subTitle {
  width: 80%;
  margin: 4rem auto;
  text-align: center;
}

/* Team Grid */
.team-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin: 0 auto;
}

/* Default styling for desktop: 4 cards per row */
.team-card {
  text-align: center;
  flex: 1 1 calc(25% - 30px); /* Four cards per row */
  max-width: 25%;
}

/* Adjust for larger devices */

.team-image-wrapper {
  width: 260px; /* Set a fixed width */
  height: 260px; /* Set a fixed height, same as width for a perfect circle */
  border-radius: 50%; /* Make the container circular */
  overflow: hidden;
  margin: 0 auto;
  transition: transform 0.3s ease-in-out;
}

.team-image-wrapper:hover {
  transform: scale(1.05);
}

.team-image {
  width: 100%; /* Ensure the image covers the full width */
  height: 100%; /* Ensure the image covers the full height */
  object-fit: cover; /* Ensure the image maintains its aspect ratio and covers the container */
  background-position: center;
  border-radius: 50%; /* This makes sure the image itself is circular */
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}


.team-info {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.team-info_footer_1 {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.name {
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}

.social-icon {
  display: flex;
  text-align: center;
  margin: auto;
  width: 24px;
  height: 24px;
}

.social-icon img {
  width: 24px;
  height: 24px;
}
.social-icon-link a {
  color: white; /* Default icon color */
  display: inline-block;
}

.social-icon-link a:hover {
  color: #0A66C2; /* LinkedIn blue color on hover */
}

/* Popup Section */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.popup-content-section-new {
  position: relative;
  z-index: 2;
  background: white;
  padding: 20px;
  width: 90%;
  max-width: 80vw;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.cross-button {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  font-size: 16px;
  color: #333;
  background: transparent;
  border: none;
  font-weight: bold;
}

.popup-inner {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 20px;
  padding: 10px 3%;
}

.popup-image-section {
  width: 30%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  height: 100%;
}

.popup-image-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  background-repeat: no-repeat;
}

.popup-details {
  flex-grow: 1;
  width: 75%;
}

.popup-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
}

.popup-name {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 5px;
}

.popup-designation {
  font-size: 16px;
  color: #888;
  margin-bottom: 10px;
}

.popup-social a {
  display: flex;
  align-items: center;
  justify-content: center;
  // border-radius: 15%;
  // background: #1982A3;
  padding: 8px;
}

.popup-description {
  margin-top: 10px;
  font-size: 16px;
  color: #333;
}

/* Achievements Section */
.achievements-section {
  margin: 4rem 0;
  text-align: center;
}

.achievements-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
  flex-wrap: wrap;
}

.achievement {
  margin: 0 20px;
  text-align: center;
}

.achievement-value {
  font-size: 75px;
  font-weight: bold;
  color: #050038;
}

.achievement-description {
  margin-top: 5px;
  font-size: 16px;
  color: #050038;
}

/* Footer Section */
.footer-section {
  width: 80%;
  border-radius: 10px;
  margin: 4rem auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.footer-title {
  font-size: 20px;
  margin: 25px auto;
}

.footer-btn {
  width: fit-content;
  margin: auto;
  background-color: #ffffff;
  color: #294294;
  padding: 10px 80px;
  border-radius: 5px;
  text-decoration: none;
}
.markdown-content{
  font-size: 24px;
}
/* Mobile Specific Styling */
@media (max-width: 768px) {
  .container_subTitle {
    margin: 2rem auto;
    width: 100%;
  }

  .markdown-content {
    width: 80%;
    margin: auto;
    font-size: 18px;
  }

  .team-card {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: calc(100% - 20px);
    max-width: 43%;
  }

  .popup-details {
    flex-grow: 1;
    width: 100%;
    height: 58%;
  }

  .team-image-wrapper {
    width: 180px;
    height: 180px;
    cursor: pointer;
  }

  .footer-section {
    width: 100%;
    border-radius: 0;
    margin: 4rem auto;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .popup-description {
    margin-top: 10px;
    font-size: 16px;
    color: #333;
    overflow-y: scroll;
    height: inherit;
  }

  .achievements-grid {
    gap: 15%;
    flex-direction: column;
  }

  .popup-content-section-new {
    flex-direction: column;
    padding: 20px;
    height: inherit;
    max-height: 90vh;
  }

  .popup-image-section {
    width: 100%;
    margin: 0 auto;
    height: 42%;
  }

  .popup-inner {
    flex-direction: column;
    padding: 25px 0;
  }

  .achievement-value {
    font-size: 62.27px;
  }

  .achievement-description {
    font-size: 14px;
  }

  .footer-title {
    width: 80%;
    font-size: 16px;
  }

  .footer-btn {
    padding: 10px 40px;
  }
}
@media (min-width: 1024px) {
  .team-card {
    flex: 1 1 calc(25% - 30px); /* Four cards per row */
    max-width: 25%;
  }
}

/* Mobile view: 2 cards per row */
@media (max-width: 768px) {
  .team-card {
    flex: 1 1 calc(50% - 30px); /* Two cards per row */
    max-width: 50%;
  }

  .team-image-wrapper {
    width: 180px;
    height: 180px;
  }
}
