html {
    scroll-behavior: smooth;
}

.samvaad-intro {
    width: 80%;
    margin: 4rem auto;
    text-align: center;

    h2 {
        font-size: 1.5rem;
        font-weight: 500;
    }

    p {
        font-size: 1rem;
    }
}

.up-icon-banner {
    position: absolute;
    bottom: 20px;
    right: 40px;
    z-index: 1000;
    background: transparent;
    border-radius: 50%;
    border: 0 solid white;
    opacity: 0.7;
    color: white;
    text-align: center;

    p {
        color: white !important;
    }

    img {
        width: 50px;
        height: 50px;
        transform: rotate(180deg);
    }
}

.card-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.newletter-container {
    width: 80%;
    margin: 6rem auto;
    text-align: center;

    h2 {
        color: #121213;
        font-weight: 700;
    }
}

.newsletter_card {
    display: flex;
    flex-direction: row;
    border: 1px solid #121213;
    overflow: hidden;
    max-width: 80%;
    min-width: 80%;
    height: 30vh;
    min-height: 30vh;
    margin: 0 auto;

    .card-image {
        display: flex;
        height: 100%;
        width: 30%;

        img {
            width: 100%;
            height: auto;
        }
    }

    .card-content {
        padding: 1rem;
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-between;

        .card-category {
            background-color: #f5f5f5;
            padding: 0.25rem 0.5rem;
            border-radius: 3px;
            font-size: 0.75rem;
            font-weight: bold;
            color: #555;
            margin-bottom: 0.5rem;
        }

        .card-title {
            font-size: 1.25rem;
            font-weight: 700;
            margin-bottom: 0.5rem;
            text-align: start;
            width: 80%;
        }

        .card-description {
            font-size: 1rem;
            color: #121213;
            margin-bottom: 1rem;
            text-align: start;
            width: 80%;
        }

        .card-link {
            display: inline-flex;
            align-items: center;
            font-weight: 400;
            color: #121213;
            text-decoration: none;

            span {
                margin-left: 0.5rem;
                font-size: 1.25rem;
            }
        }
    }
}

.subscribe-section {
    background-color: #294294;
    color: white;
    padding: 4rem 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    .subscribe-content {
        flex: 1;

        h2 {
            font-size: 1.7rem;
            margin-bottom: 0.5rem;
            font-weight: 700;
        }

        p {
            margin: 0;
        }
    }

    .subscribe-form {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        .buttons_wrap {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
            width: 100%;
        }

        .subscribe-form_div {
            display: flex;
            flex-direction: column;
        }

        input[type="email"] {
            padding: 0.5rem;
            width: 70%;
            border: none;
            border-radius: 3px;
            margin-bottom: 0;
        }

        button {
            width: 30%;
            padding: 0.5rem 1rem;
            background-color: white;
            color: #2a52be;
            width: auto;
            border: none;
            border-radius: 3px;
            cursor: pointer;
        }

        .terms {
            font-size: 0.75rem;
            margin-top: 1rem;

            a {
                color: white;
                text-decoration: underline;
            }
        }
    }
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
    .samvaad-intro {
        width: 90%;
        margin: 2rem auto;

        h2 {
            font-size: 1.25rem;
        }

        p {
            font-size: 0.9rem;
        }
    }

    .up-icon-banner {
        bottom: 10px;
        right: 20px;

        img {
            width: 40px;
            height: 40px;
        }

        p {
            font-size: 0.8rem;
        }
    }

    .newsletter_card {
        flex-direction: column;
        height: auto;
        min-height: auto;

        .card-image {
            width: 100%;
            height: auto;

            img {
                width: 100%;
                height: auto;
            }
        }

        .card-content {
            width: 100%;
            padding: 0.5rem;

            .card-title,
            .card-description {
                width: 100%;
            }
        }
    }

    .subscribe-section {
        flex-direction: column;
        padding: 2rem 1.5rem;

        .subscribe-content {
            text-align: center;
            margin-bottom: 1rem;

            h2 {
                font-size: 1.5rem;
            }
        }

        .subscribe-form {
            align-items: center;

            input[type="email"] {
                width: 80%;
            }

            button {
                width: 80%;
                margin-top: 0.5rem;
            }
        }
    }
}

@media (max-width: 480px) {
    .samvaad-intro {
        width: 90%;

        h2 {
            font-size: 1.2rem;
        }

        p {
            font-size: 1rem;
        }
    }

    .up-icon-banner {
        bottom: 5px;
        right: 10px;

        img {
            width: 30px;
            height: 30px;
        }

        p {
            font-size: 0.7rem;
        }
    }

    .newletter-container {
        width: 90%;
        margin: 3rem auto;
    }

    .newsletter_card {
        max-width: 100%;

        .card-image {
            img {
                width: 100%;
                height: auto;
            }
        }

        .card-content {
            .card-title {
                font-size: 1rem;
            }

            .card-description {
                font-size: 0.9rem;
            }
        }
    }

    .subscribe-section {
        padding: 2rem 1rem;
        text-align: start;

        .subscribe-content {
            h2 {
                font-size: 1.4rem;
                text-align: start;
                margin-bottom: 10px;
            }

            p {
                text-align: start;

            }
        }

        .subscribe-form {
            .buttons_wrap {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 10px;
                width: 100%;
                margin-top: 10px;
            }

            input[type="email"] {
                width: 100%;
            }

            button {
                width: 50%;
            }

            p {
                text-align: center;
            }
        }
    }
}

.success-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    color: white;

    justify-content: center;
    align-items: center;
    z-index: 1000;

    .success-modal-content {
        // background: white;
        padding: 2rem;
        border-radius: 10px;
        text-align: center;
        width: 90%;
        max-width: 70vw;

        .horizontal-success-popup {
            height: 1px;
            color: white;
            background-color: white;
            width: 500px;
            margin: 2rem auto;
        }

        img {
            width: 100px;
            height: auto;
            margin-bottom: 1rem;
        }

        h2 {
            margin: 2rem auto;
            font-size: 1.5rem;
        }

        .follow-us {
            margin-top: 1rem;

            p {
                font-weight: 500;
                font-size: 1.5rem;

            }

            .social-icons {
                display: flex;
                justify-content: center;
                gap: 10px;



                a {
                    font-size: 1.5rem;
                    color: white;
                    text-decoration: none;

                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }


    }
}