.custom-carousel-outer {
  display: flex;
  align-items: center;
}

.custom-carousel-container {
  flex-grow: 1;
  position: relative;
  overflow: hidden;
  min-height: 250px;
}

.custom-carousel-wrapper {
  display: flex;
  transition: transform 0.4s ease-in-out;
}

.custom-carousel-item {
  flex: 0 0 100%;
  box-sizing: border-box;
  text-align: center;
  background: #F8F8F8;
  margin: 0 1px;
  border-radius: 7px;
}
.custom-carousel-item iframe{
  border-radius: 7px;
  width: 100%;
}

#custom-prevBtn,
#custom-nextBtn {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}

#custom-prevBtn {
  margin-right: 5px;
}

#custom-nextBtn {
  margin-left: 5px;
}

/* For Desktop */
@media (min-width: 769px) {
  .custom-carousel-item {
    flex: 0 0 33.333%;
    padding: 5px;
  }
  #custom-prevBtn {
    margin-right: 10px;
  }
  
  #custom-nextBtn {
    margin-left: 10px;
  }
}